.container {
    border: 1px solid #4E476B;
    padding: 0px;
    display: flex;
}

.container:hover {
    cursor: pointer;
}

.container img {
    width: 100px;
    object-fit: cover;
    filter: grayscale(100%);
}

.content {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.gameInfo {
    width: 100%;
    border-bottom: 1px solid #4E476B;
}
.gameInfo li:first-child {
    text-decoration: underline;
}

.gameInfoPlatforms {
    display: inline-flex;
    margin-top: 16px;
}
.gameInfoPlatforms img {
    width: 20px;
    margin-right: 4px;
}

.stats {
    margin-top: 8px;
}